.back-icon
{
    left:10px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.heading .first
{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    margin: 10px 0px
}
.heading .second
{
        
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;

    /* or 114% */
    letter-spacing: -0.05em;

    /* Dark Grey */
    color: #333333;
}
form .field-name
{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}
form input
{
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px 16px;
    gap: 4px;
    width: 98%;
    /* Smoke Grey */
    background: #F4F4F4;
    border-radius: 8px;
}
input.register
{
    border: none;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    background: #F2C94C;
    /* Drop Shadow 1 */
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    display: block;
    padding: 1.5rem;
    color: white;
}
a.info
{
    background: #6FCF97;
    border-radius: 8px;
    border-radius: 8px;
    display: block;
    padding: 1.5rem;
    margin: 10px 0px;
}
a.error
{
    background: #EB5757;
    border-radius: 8px;
    display: block;
    padding: 1.5rem;
    margin: 10px 0px;
}
footer
{
    position: sticky;
    bottom: 10px;
    left:8px;
    right: 8px;
}
input.disable
{
    pointer-events: none;
    background: #E0E0E0;
    /* Drop Shadow 1 */
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}
a.hide
{
    display: none;
}
